NEXT_PUBLIC_TEMPLATE_BUSINESS_URL=https://business.neuraltale.com
NEXT_PUBLIC_TEMPLATE_REAL_ESTATE_URL=https://real-estate.neuraltale.com
NEXT_PUBLIC_TEMPLATE_ECOMMERCE_URL=https://ecommerce.neuraltale.com
NEXT_PUBLIC_TEMPLATE_RESTAURANT_URL=https://restaurant.neuraltale.com
NEXT_PUBLIC_TEMPLATE_EDUCATION_URL=https://education.neuraltale.com
NEXT_PUBLIC_TEMPLATE_NGO_URL=https://ngo.neuraltale.com
NEXT_PUBLIC_TEMPLATE_PORTFOLIO_URL=https://portfolio.neuraltale.com
NEXT_PUBLIC_TEMPLATE_TRANSPORT_URL=https://transport.neuraltale.com
NEXT_PUBLIC_TEMPLATE_HOTEL_URL=https://hotel.neuraltale.com
NEXT_PUBLIC_TEMPLATE_HEALTHCARE_URL=https://healthcare.neuraltale.com
